@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
  background-image: url('../client/images/background2.jpg');
  background-size: cover;
}
#root {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  justify-content: space-between;
}

.login-form,
.signup-form {
  background-image: url('../client/images/login.png');
  padding: 30px;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.login-form h1,
.signup-form h1 {
  font-size: 24px;
  color: #ff6600; /* Pokémon orange */
  text-shadow: 1px 1px #fbf9f9;
}

input[type='text'],
input[type='password'] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='submit'] {
  width: 50%;
  padding: 10px;
  background-color: #ffcc00; /* Pikachu yellow */
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type='submit']:hover {
  background-color: #ff9900; /* Darker Pikachu yellow on hover */
}

#pokemonImage {
  background: transparent;
  filter: contrast(0%) brightness(50%);
}

#playButton {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 1s;
}

#playButton:hover {
  transform: rotate(360deg);
}

#MainContainer {
  /* background-color: rgb(233, 150, 61); */
  display: flex;
  flex-direction: column;
  flex-basis: 60;
  justify-content: center;
  align-items: center;
}

#UserInput {
  display: flex;
  border: 0;
  border-bottom: 1px solid #eee;
  border-radius: 1rem;
  background-color: #ffd93b;
  box-shadow: 0px 0.5px 2px 1px #558abb;
}

#userInputBox {
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: hsl(48, 100%, 62%);
  /* box-shadow: 2px 1px 1px 1px #558abb; */
  min-width: 300px;
}

#submitButton {
  border: 2px;
  background-color: hsl(48, 100%, 55%);
  border-radius: 1rem;
  font-family: 'Shrikhand';
}

#result,
#hint {
  text-align: center;
  font-family: 'Shrikhand';
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}

#LeftSideContainer {
  /* background-color: rgb(100, 243, 61); */
  display: flex;

  flex-basis: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-side-container {
  background-color: #ffcc00;
  padding: 20px;
  border: 1px solid #ff9900;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
  margin: 0;
  color: #333;
  font-size: 16px;
}

.lives {
  font-size: 1.5em;
  font-family: 'Shrikhand';
  color: rgb(255, 98, 0);
}

.score,
.score[data-testid='highscore'] {
  color: #333;
  font-size: 1.5em;
  font-family: 'Shrikhand';
}

#HardmodeButton {
  display: flex;
  accent-color: #ffd93b;
}

#RightSideContainer {
  /* background-color: rgb(210, 100, 61); */
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  justify-content: center;
  font-family: 'Shrikhand', cursive;
  gap: 20px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}

.MainHeader {
  color: #ffd12c;
  font-size: 64px;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  text-shadow: 5px 5px #355f86;
}

p {
  font-family: verdana;
  font-size: 15px;
}

.leaderboard-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  background-image: url('../client/images/login.png');
  margin: 0 auto;
}
.scores {
  margin: 5px;
  display: flex;
  flex-direction: row;
  font-family: 'Shrikhand';
  gap: 5px;
  flex: 1 1 0;
}
.user-high-score,
.user-current-score {
  background-color: #ffd12c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}
#current-user-high-score {
  font-size: 50px;
}
#current-user-current-score {
  font-size: 50px;
}

.play-again {
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: #f86510;
  font-family: 'Shrikhand';
}

.leaderboard {
  background-color: #f77c29;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: auto;
  color: #333;
  margin: 5px;
}

.leaderContainer {
  text-align: center;
  background-color: #ffd12c;
}

table {
  width: 100%;
  border: 1px solid #ddd;
}

table th {
  background-color: #ff6600;
  color: #fff;
  padding: 10px;
}

table td {
  padding: 10px;
}
